<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PluginVersion</key>
	<string>0.0.2</string>
	<key>ServerApiVersion</key>
	<string>1.9</string>
	<key>IwsApiVersion</key>
	<string>1.0.0</string>
	<key>CFBundleDisplayName</key>
	<string>Mac Disks</string>
	<key>CFBundleIdentifier</key>
	<string>com.morris.mac-disks</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>https://github.com/kmarkley/Indigo-Mac-Disks</string>
		</dict>
	</array>
</dict>
</plist>
